/* Footer */
footer {
  padding: 1rem 0;
  background-color: #301a1a;
}

.footer__text {
  text-align: center;
}

.footer__content {
  max-width: 5rem;
  margin: 0 auto;
  font-size: small;
  text-align: center;
  padding-bottom: 5px;
}
